.list-body {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(248, 190, 247);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.list-body_btn {
    display: flex;
    justify-content: right;
    gap: 5px;
}
