.btn-edit {
    background-color: #2cb05e;
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-edit::before,
.btn-edit::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: white;
}

.btn-edit::before {
    height: 10px;
    left: 35%;
    top: 40%;
    transform-origin: left center;
    transform: rotate(-35deg);
}

.btn-edit::after {
    height: 15px;
    left: 62%;
    top: 25%;
    transform-origin: left center;
    transform: rotate(-155deg);
}
