.btn-delete {
    background-color: #f63e3e;
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete::before,
.btn-delete::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    background-color: white;
    top: 45%;
    left: 8px;
}

.btn-delete::before {
    transform: rotate(45deg);
}

.btn-delete::after {
    transform: rotate(-45deg);
}
